<div class="feature-row" data-section-id="{{ section.id }}" data-section-type="custom-html-section"  data-aos="fade-up">
    <div class="brands_grid">
        <div class="brands_grid__brand">
          <a href="/collections/nudie-jeans">
            <img src="{{ 'Nudie_Jeans_logo_wordmark-1024x165_160x160@2x.png' | asset_url }}" alt="Nudie Jeans">
          </a>
        </div>
        <div class="brands_grid__brand">
            <img src="{{ 'companiondenim12_160x160@2x.png' | asset_url }}" alt="">
        </div>
        <div class="brands_grid__brand">
            <img src="{{ 'NF_Copy_160x160@2x.png' | asset_url }}" alt="">
        </div>
        <div class="brands_grid__brand">
            <img src="{{ 'KOI_Copy_160x160@2x.png' | asset_url }}" alt="">
        </div>
    </div>  
</div>
  
  
  
  {% schema %}
  {
    "name": {
      "en": "Brands",
      "es": "Marcas"
    },
    "class": "index-section brands",
    "presets": [
      {
        "name": {
          "en": "Brands",
          "es": "Marcas"
        },
        "category": {
          "en": "Brands",
          "es": "Marcas"
        }
      }
    ]
  }
  {% endschema %}
  