<style>
  .site-header__logo img {
    max-width: {{ section.settings.logo_width | escape | default: '180' | remove: 'px' | append: 'px' }};
  }
  @media screen and (max-width: 749px) {
    .site-header__logo img {
      max-width: 100%;
    }
  }
</style>

<header class="site-header" role="banner" data-section-id="{{ section.id }}" data-section-type="header-section">
  <div class="grid grid--no-gutters grid--table site-header__inner">
    <div class="grid__item one-third medium-up--one-sixth">
      <button type="button" class="site-header__link text-link site-header__toggle-nav js-drawer-open-left">
        <span class="icon icon-hamburger" aria-hidden="true"></span>
        <!-- <span href="#" class="menu example5"><span></span></a> -->
        <span class="icon__fallback-text">{{ 'layout.navigation.menu' | t }}</span>
      </button>
    </div>
    <div class="grid__item one-third medium-up--two-thirds">
      <div class="site-header__logo h1" itemscope itemtype="http://schema.org/Organization">
        <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-link  {% if request.page_type == "index" %} is-home{% endif %}">
          <svg width="618px" height="77px" viewBox="0 0 618 77" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Azul" transform="translate(-651.000000, -450.000000)" fill="currentColor">
                    <g id="Group" transform="translate(651.137000, 450.957000)">
                        <path d="M50.278,66.525 C44.862,72.044 37.301,75.109 29.533,75.109 C21.766,75.109 14.511,72.554 8.993,67.036 C1.125,59.167 5.68434189e-14,49.459 5.68434189e-14,37.605 C5.68434189e-14,25.751 1.125,16.043 8.993,8.174 C14.511,2.656 21.766,0 29.533,0 C37.301,0 44.862,2.86 50.278,8.378 C54.467,12.67 56.614,18.394 57.227,24.116 L43.738,24.116 C43.431,20.947 42.307,18.7 40.467,16.452 C38.117,13.488 34.03,11.956 29.533,11.956 C25.343,11.956 21.257,13.692 18.394,16.758 C13.387,21.971 13.387,30.962 13.387,37.605 C13.387,44.248 13.387,53.24 18.394,58.452 C21.257,61.518 25.343,63.255 29.533,63.255 C34.03,63.255 38.117,61.62 40.467,58.656 C42.307,56.408 43.431,53.853 43.738,50.685 L57.227,50.685 C56.614,56.408 54.467,62.233 50.278,66.525" id="Fill-28"></path>
                        <path d="M93.514,17.474 L83.194,48.029 L103.837,48.029 L93.514,17.474 Z M112.625,73.781 L107.924,59.883 L79.106,59.883 L74.405,73.781 L61.12,73.781 L86.566,1.327 L100.974,1.327 L126.42,73.781 L112.625,73.781 L112.625,73.781 Z" id="Fill-29"></path>
                        <path d="M183.659,67.343 C178.14,72.861 169.659,75.109 160.768,75.109 C153.103,75.109 145.031,73.065 139.103,67.649 C134.811,63.766 131.542,57.635 131.542,50.788 L145.031,50.788 C145.031,54.365 146.666,57.532 148.811,59.678 C151.879,62.744 156.783,63.561 160.972,63.561 C165.98,63.561 170.783,62.539 173.543,59.678 C175.176,57.941 176.403,56.204 176.403,52.729 C176.403,47.415 172.316,44.962 167.82,44.145 C162.914,43.226 156.578,43.021 151.776,42.204 C141.761,40.568 133.382,34.028 133.382,21.971 C133.382,16.248 135.936,11.444 139.717,7.664 C144.519,2.962 152.491,0 160.972,0 C168.739,0 176.301,2.451 181.207,7.05 C185.499,11.137 188.462,16.452 188.564,22.481 L175.075,22.481 C174.972,19.926 173.645,17.167 171.907,15.328 C169.556,12.875 164.754,11.444 160.87,11.444 C156.783,11.444 152.082,12.364 149.119,15.43 C147.585,17.065 146.666,18.904 146.666,21.561 C146.666,26.262 149.731,28.714 154.024,29.43 C158.622,30.145 165.059,30.657 169.76,31.269 C180.593,32.803 189.688,39.853 189.688,52.219 C189.688,58.963 187.235,63.766 183.659,67.343" id="Fill-30"></path>
                        <path d="M227.509,17.474 L217.189,48.029 L237.832,48.029 L227.509,17.474 Z M246.62,73.781 L241.919,59.883 L213.102,59.883 L208.401,73.781 L195.116,73.781 L220.561,1.327 L234.969,1.327 L260.416,73.781 L246.62,73.781 L246.62,73.781 Z" id="Fill-31"></path>
                        <path d="M333.802,17.27 C331.349,14.816 327.774,13.182 323.583,13.182 L308.561,13.182 L308.561,61.927 L323.583,61.927 C327.774,61.927 331.349,60.291 333.802,57.839 C338.912,52.729 339.013,44.145 339.013,37.502 C339.013,30.86 338.912,22.378 333.802,17.27 Z M343.92,66.014 C339.116,71.022 331.861,73.781 323.583,73.781 L295.379,73.781 L295.379,1.327 L323.583,1.327 C331.861,1.327 339.116,4.086 343.92,9.093 C351.383,16.758 352.403,27.488 352.403,37.502 C352.403,47.518 351.383,58.35 343.92,66.014 L343.92,66.014 Z" id="Fill-32"></path>
                        <polyline id="Fill-33" points="367.843 73.781 367.843 1.327 419.453 1.327 419.453 13.284 381.023 13.284 381.023 30.145 414.853 30.145 414.853 41.999 381.023 41.999 381.023 61.824 419.453 61.824 419.453 73.781 367.843 73.781"></polyline>
                        <polyline id="Fill-34" points="478.933 73.781 447.563 24.014 447.563 73.781 434.583 73.781 434.583 1.327 448.583 1.327 479.543 50.378 479.543 1.327 492.523 1.327 492.523 73.781 478.933 73.781"></polyline>
                        <polygon id="Fill-35" points="512.053 73.781 525.443 73.781 525.443 1.327 512.053 1.327"></polygon>
                        <polyline id="Fill-36" points="604.953 73.781 604.953 22.072 586.153 72.759 576.443 72.759 557.743 21.459 557.743 73.781 544.963 73.781 544.963 1.327 562.743 1.327 581.753 52.934 600.863 1.327 617.723 1.327 617.723 73.781 604.953 73.781"></polyline>
                    </g>
                </g>
            </g>
          </svg>
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="123" height="16" viewbox="0 0 123 16" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="rer2a" d="M102 47.2h11.39v14.95H102z"></path><path id="rer2e" d="M112.007 60.44c-1.078 1.1-2.583 1.71-4.13 1.71-1.545 0-2.989-.51-4.087-1.608-1.566-1.566-1.79-3.498-1.79-5.857 0-2.36.224-4.292 1.79-5.858 1.098-1.098 2.542-1.627 4.088-1.627 1.546 0 3.05.57 4.129 1.668.834.854 1.26 1.993 1.383 3.132h-2.685c-.061-.63-.285-1.078-.65-1.525-.469-.59-1.282-.895-2.177-.895-.834 0-1.647.345-2.217.955-.997 1.038-.997 2.828-.997 4.15 0 1.322 0 3.112.997 4.149.57.61 1.383.956 2.217.956.895 0 1.708-.326 2.176-.916.366-.447.59-.955.651-1.586h2.685c-.122 1.139-.55 2.298-1.383 3.153"></path><path id="rer2f" d="M124.411 61.88l-.936-2.766h-5.735l-.936 2.766h-2.644l5.065-14.42h2.867l5.065 14.42zm-3.803-11.206l-2.054 6.091h4.108z"></path><path id="rer2b" d="M128.18 47.2h11.573v14.949H128.18z"></path><path id="rer2h" d="M138.553 60.603c-1.099 1.098-2.787 1.546-4.556 1.546-1.526 0-3.132-.407-4.312-1.485-.854-.773-1.505-1.993-1.505-3.356h2.685c0 .712.325 1.343.752 1.77.61.61 1.587.772 2.42.772.997 0 1.953-.203 2.502-.772.326-.346.57-.692.57-1.383 0-1.058-.814-1.546-1.709-1.709-.976-.183-2.237-.224-3.193-.386-1.993-.326-3.66-1.627-3.66-4.027 0-1.14.508-2.095 1.26-2.848.956-.935 2.542-1.525 4.23-1.525 1.546 0 3.052.488 4.028 1.403.854.814 1.444 1.871 1.464 3.071h-2.685c-.02-.508-.284-1.057-.63-1.423-.468-.488-1.424-.773-2.197-.773-.813 0-1.749.183-2.339.793a1.668 1.668 0 0 0-.488 1.22c0 .936.61 1.424 1.465 1.566.915.143 2.196.245 3.132.366 2.156.306 3.966 1.709 3.966 4.17 0 1.343-.488 2.298-1.2 3.01"></path><path id="rer2i" d="M151.08 61.88l-.935-2.766h-5.735l-.936 2.766h-2.644l5.064-14.42h2.868l5.065 14.42zm-3.803-11.206l-2.054 6.091h4.109z"></path><path id="rer2j" d="M170.451 60.335c-.956.996-2.4 1.545-4.048 1.545h-5.613V47.46h5.613c1.648 0 3.092.55 4.048 1.546 1.485 1.525 1.688 3.66 1.688 5.654 0 1.993-.203 4.15-1.688 5.675m-2.014-9.702c-.488-.488-1.2-.813-2.034-.813h-2.99v9.701h2.99c.835 0 1.546-.325 2.034-.813 1.017-1.018 1.038-2.726 1.038-4.048s-.02-3.01-1.038-4.027"></path><path id="rer2k" d="M175.21 61.88V47.46h10.271v2.38h-7.647v3.356h6.732v2.359h-6.732V59.5h7.647v2.38z"></path><path id="rer2l" d="M197.317 61.88l-6.244-9.905v9.905h-2.583V47.46h2.786l6.163 9.763V47.46h2.583v14.42z"></path><path id="rer2c" d="M102 62.15h122.945V47.2H102z"></path><path id="rer2n" d="M203.91 61.88h2.665V47.46h-2.665z"></path><path id="rer2o" d="M222.399 61.88V51.59l-3.743 10.088h-1.932l-3.722-10.21V61.88h-2.542V47.46h3.539l3.783 10.271 3.803-10.271h3.356v14.42z"></path><clippath id="rer2d"><use xlink:href="#rer2a"></use></clippath><clippath id="rer2g"><use xlink:href="#rer2b"></use></clippath><clippath id="rer2m"><use xlink:href="#rer2c"></use></clippath></defs><g><g transform="translate(-102 -47)"><g><g><g></g><g clip-path="url(#rer2d)"><use fill="#1d314f" xlink:href="#rer2e"></use></g></g><g><use fill="#1d314f" xlink:href="#rer2f"></use></g><g><g></g><g clip-path="url(#rer2g)"><use fill="#1d314f" xlink:href="#rer2h"></use></g></g><g><use fill="#1d314f" xlink:href="#rer2i"></use></g><g><use fill="#1d314f" xlink:href="#rer2j"></use></g><g><use fill="#1d314f" xlink:href="#rer2k"></use></g><g><use fill="#1d314f" xlink:href="#rer2l"></use></g><g></g><g clip-path="url(#rer2m)"><use fill="#1d314f" xlink:href="#rer2n"></use></g><g clip-path="url(#rer2m)"><use fill="#1d314f" xlink:href="#rer2o"></use></g></g></g></g></svg> -->
        </a>
      </div>
    </div>

    <div class="grid__item one-third medium-up--one-sixth text-right">
      <a href="{{ routes.search_url }}" class="site-header__link site-header__search js-drawer-open-top">
        <span class="icon icon-search" aria-hidden="true"></span>
        <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
      </a>
      <a href="{{ routes.cart_url }}" class="site-header__link site-header__cart cart-link{% if settings.cart_type == 'drawer' %} js-drawer-open-right{% endif %}{% if cart.item_count > 0 %} cart-bubble--visible{% endif %}">
        <span class="icon icon-cart" aria-hidden="true"></span>
        <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
      </a>
    </div>
  </div>
</header>
