<div itemscope itemtype="http://schema.org/Product" data-section-id="{{ section.id }}" data-section-type="product" data-history-state>

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  {% comment %}
    Get first image
  {% endcomment %}
  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ featured_image | img_url: 'grande' }}">
  <meta itemprop="name" content="{{ product.title }}{% if product.variants.size > 1 and product.selected_variant %} - {{ current_variant.title }}{% endif %}">

  <div class="product grid grid--uniform grid--no-gutters" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    {% assign first_image = featured_image %}

    {% if product.images.size > 1 and section.settings.skip_first_product_image and first_image == product.featured_image %}
      {% assign first_image = product.images[1] %}
    {% endif %}

    {% comment %}
      Set variables for product image grid
    {% endcomment %}
    {% if section.settings.product_image_type == 'portrait' %}
      {% if product.images.size == 1 %}
        {% assign grid_item_width = '' %}
      {% elsif product.images.size == 2 and section.settings.skip_first_product_image %}
        {% assign grid_item_width = '' %}
      {% else %}
        {% assign grid_item_width = 'medium-up--one-half' %}
      {% endif %}
      {% assign is_portrait_image = true %}
    {% else %}
      {% assign grid_item_width = '' %}
    {% endif %}

    {% if product.images.size > 0 %}
      <div class="product__photo grid__item {{ grid_item_width }}">
        {% for image in product.images %}
          {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <div data-image-id="{{ image.id }}" class="product__photo--single product__photo--variant-wrapper
          {% if product.images.size > 1 and section.settings.skip_first_product_image %}
            fade-in
            {% if forloop.first == true %} hide{% endif %}
            {% if forloop.index != 2 %} hide{% endif %}
          {% else %}
            {% unless featured_image == image %} hide{% endunless %}
          {% endif %}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
            <img class="product__photo--variant lazyload"
              src="{{ image | img_url: '300x' }}"
              data-src="{{ img_url }}"
              data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
              data-aspectratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ image.alt | escape }}">
          </div>
        {% endfor %}

        <noscript>
          <img class="product__photo--variant" src="{{ first_image | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
        </noscript>
      </div>

      {% comment %}
        Counting images shown on the page
      {% endcomment %}
      {% assign index = 1 %}

      {% comment %}
        If we have portrait images, we show two per row, so let's get a second image.
        That image will be moved down below the description on mobile, hence why we'll use
        `small--hide`. The image moved down is stored in the variable `duplicate_image`.
      {% endcomment %}

      {% if is_portrait_image %}
        {% for image in product.images %}
          {% unless image == first_image %}
            {% unless section.settings.skip_first_product_image and image == product.featured_image %}
              <div class="product__photo grid__item small--hide {{ grid_item_width }}">
                <noscript>
                  <img src="{{ image | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
                </noscript>
                {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                <div class="product__photo--single product-item__image-wrapper">
                  <img class="lazyload"
                    src="{{ image | img_url: '300x' }}"
                    data-src="{{ img_url }}"
                    data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                    data-aspectratio="{{ image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ image.alt | escape }}">
                </div>
              </div>
              {% assign index = index | plus: 1 %}
              {% assign index_offset = forloop.index %}
              {% assign duplicate_image = image %}
              {% break %}
            {% endunless %}
          {% endunless %}
        {% endfor %}
      {% endif %}

    {% endif %}

    {% for t in product.tags %}
      {% if t contains 'video:1' %}
      <div style="float: left; width: 100%">
        <div class="no-container">
          <div class="scale-video">
            <video autoplay="autoplay" loop="loop" controls="controls">
              <source src="https://cdn.shopify.com/s/files/1/0084/3330/3614/files/blousonbleu5.mp4?v=1584950027" type="video/mp4" width="auto" >
              </video>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  

    {% assign hasTable = false %}
    {%- if product.type == 'Jeans' -%}
    <div class="product__sizes" style="display: none;">
      <div class="container">
        <div class="grid jsc">
          <div class="grid__item__table">
            <div class="relative">
              <h4>Guía de tallas</h4>
              <span id="hideSizes" class="absolute-right">Cerrar</span>
            </div>
          {% for tag in product.tags %}
            {% if tag == 'tabla:1' %}
              {% assign hasTable = true %}
              <p>Jarrell</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Kings of Indigo</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>Jarrell</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td align="right">33</td><td align="right">34</td><td align="right">35</td><td align="right">36</td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right">42</td><td align="right">42</td><td align="right">42</td><td align="right">44</td><td align="right"></td><td align="right"></td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right">52</td><td align="right">56</td><td align="right">56</td><td align="right">56</td><td align="right"></td><td align="right"></td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right">27</td><td align="right">27</td><td align="right">27</td><td align="right">29</td><td align="right"></td><td align="right"></td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right">37</td><td align="right">38</td><td align="right">39</td><td align="right">39</td><td align="right"></td><td align="right"></td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td align="right">32</td><td align="right"></td><td align="right"></td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right">22</td><td align="right">23</td><td align="right">23</td><td align="right">23</td><td align="right"></td><td align="right"></td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right">18</td><td align="right">18</td><td align="right">19</td><td align="right">19</td><td align="right"></td><td align="right"></td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right">75</td><td align="right">76</td><td align="right">76</td><td align="right">76</td><td align="right"></td><td align="right"></td></tr></tbody></table>
            {% elsif tag == 'tabla:2' %}
            {% assign hasTable = true %}
              <p>Lean Dean Dry Cold</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>Lean Dean Dry Cold</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td align="right">33</td><td>34/32</td><td>34/34</td><td>36/34</td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right">35</td><td align="right">37</td><td align="right">38</td><td align="right">38</td><td align="right">40</td><td align="right">41</td><td align="right">43</td><td>44</td><td>44</td><td>47</td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right">43</td><td align="right">45</td><td align="right">45</td><td align="right">47.5</td><td align="right">48</td><td align="right">50</td><td align="right">51.5</td><td>52.5</td><td>53</td><td>55.5</td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right">23</td><td align="right">24</td><td align="right">24</td><td align="right">25</td><td align="right">25</td><td align="right">26</td><td align="right">26</td><td>26</td><td>26</td><td>27</td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right">36</td><td align="right">36</td><td align="right">37</td><td align="right">39</td><td align="right">39</td><td align="right">39</td><td align="right">39</td><td>40</td><td>40</td><td>40</td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right">23</td><td align="right">24</td><td align="right">24</td><td align="right">26</td><td align="right">28</td><td align="right">27</td><td align="right">28</td><td>29</td><td>29</td><td>30</td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right">17</td><td align="right">18</td><td align="right">17.5</td><td align="right">18.5</td><td align="right">19</td><td align="right">19.5</td><td align="right">20</td><td>20.5</td><td>21</td><td>21.5</td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right">15</td><td align="right">16</td><td align="right">16</td><td align="right">16.5</td><td align="right">17</td><td align="right">17</td><td align="right">17.5</td><td>18</td><td>18</td><td>19</td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td>80</td><td>84</td><td>84</td></tr></tbody></table>
            {% elsif tag == 'tabla:3' %}
            {% assign hasTable = true %}
              <p>Lean Dean Indigo Shades</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>Lean Dean Indigo Shades</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td align="right">33</td><td>34/32</td><td>34/34</td><td>36/34</td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right">36</td><td align="right">37</td><td align="right">39</td><td align="right">39</td><td align="right">41</td><td align="right">41</td><td align="right">42</td><td>44</td><td>44</td><td>47</td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right">44</td><td align="right">45</td><td align="right">47</td><td align="right">49</td><td align="right">50</td><td align="right">50</td><td align="right">51</td><td>53</td><td>53</td><td>56</td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right">24</td><td align="right">25</td><td align="right">25</td><td align="right">26</td><td align="right">26</td><td align="right">26</td><td align="right">26</td><td>27</td><td>27</td><td>28</td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right">35</td><td align="right">37</td><td align="right">38</td><td align="right">39</td><td align="right">39</td><td align="right">39</td><td align="right">39</td><td>39</td><td>39</td><td>40</td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right">25</td><td align="right">25</td><td align="right">26</td><td align="right">28</td><td align="right">27.5</td><td align="right">28</td><td align="right">28</td><td>29</td><td>29</td><td>31</td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right">17.5</td><td align="right">17.5</td><td align="right">18.5</td><td align="right">19</td><td align="right">20</td><td align="right">20</td><td align="right">20</td><td>21</td><td>21</td><td>22</td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right">15</td><td align="right">15</td><td align="right">16</td><td align="right">16.5</td><td align="right">17</td><td align="right">17</td><td align="right">17</td><td>17.5</td><td>17.5</td><td>18.5</td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td>80</td><td>83</td><td>85</td></tr></tbody></table>
            {% elsif tag == 'tabla:4' %}
            {% assign hasTable = true %}
              <p>Lean Dean Mono Grey</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>lean dean mono grey</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td>32/32</td><td>33/32</td><td>34/32</td><td>34/34</td><td>36/34</td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right">32</td><td align="right">36</td><td align="right">38</td><td align="right">39</td><td align="right">41</td><td>41.5</td><td>42</td><td>44</td><td>44</td><td>47</td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right">42</td><td align="right">43</td><td align="right">45</td><td align="right">46</td><td align="right">48</td><td>48</td><td>50</td><td>52</td><td>52</td><td>55</td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right">20</td><td align="right">24</td><td align="right">25</td><td align="right">25</td><td align="right">26</td><td>26</td><td>26</td><td>27</td><td>27</td><td>27</td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right">35</td><td align="right">36</td><td align="right">36</td><td align="right">37</td><td align="right">38</td><td>38</td><td>39</td><td>39</td><td>39</td><td>40</td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right">23</td><td align="right">24</td><td align="right">25</td><td align="right">26</td><td align="right">26</td><td>27</td><td>28</td><td>28</td><td>29</td><td>30</td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right">15.5</td><td align="right">17</td><td align="right">17</td><td align="right">18</td><td align="right">19</td><td>19</td><td>20</td><td>20</td><td>21</td><td>22</td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right">14</td><td align="right">15</td><td align="right">15.5</td><td align="right">16</td><td align="right">16.5</td><td>16.5</td><td>17</td><td>18</td><td>18</td><td>18</td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td>80</td><td>80</td><td>80</td><td>84</td><td>86</td></tr></tbody></table>
            {% elsif tag == 'tabla:5' %}
            {% assign hasTable = true %}
              <p>Grim Tim Crispy S.</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>Grim Tim Crispy S.</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td>32/32</td><td>33/32</td><td>34/32</td><td>34/34</td><td>36/34</td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right">35</td><td align="right">36</td><td align="right">38</td><td align="right">38</td><td align="right">41</td><td>41</td><td>42</td><td>44</td><td>44</td><td>46</td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right">44</td><td align="right">44</td><td align="right">46</td><td align="right">46</td><td align="right">50</td><td>50</td><td>53</td><td>53</td><td>54</td><td>58</td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right">24</td><td align="right">24</td><td align="right">24</td><td align="right">24</td><td align="right">25</td><td>25</td><td>26</td><td>26</td><td>26</td><td>26</td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right">34</td><td align="right">34</td><td align="right">36</td><td align="right">36</td><td align="right">36</td><td>36</td><td>38</td><td>38</td><td>38</td><td>39</td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right">25</td><td align="right">25</td><td align="right">26</td><td align="right">26</td><td align="right">27</td><td>27</td><td>28</td><td>29</td><td>29</td><td>31</td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right">17</td><td align="right">17</td><td align="right">18</td><td align="right">18</td><td align="right">19.5</td><td>19</td><td>20</td><td>21</td><td>21</td><td>22</td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right">15</td><td align="right">16</td><td align="right">17</td><td align="right">17</td><td align="right">17.5</td><td>17</td><td>18.5</td><td>19</td><td>19</td><td>20</td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td>80</td><td>80</td><td>80</td><td>84</td><td>84</td></tr></tbody></table>
            {% elsif tag == 'tabla:6' %}
            {% assign hasTable = true %}
              <p>Thin finn Dry Ecru E</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>thin finn Dry Ecru E</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td>32/32</td><td>33/32</td><td>34/32</td><td>34/34</td><td>36/34</td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right">34</td><td align="right">34</td><td align="right">36</td><td align="right">37</td><td align="right">38</td><td>39</td><td>40</td><td>42</td><td>42</td><td>44</td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right">42</td><td align="right">44</td><td align="right">47</td><td align="right">48</td><td align="right">50</td><td>50</td><td>52</td><td>54</td><td>54</td><td>56</td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right">23</td><td align="right">24</td><td align="right">24</td><td align="right">24</td><td align="right">24</td><td>24</td><td>26</td><td>26</td><td>26</td><td>27</td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right">36</td><td align="right">36</td><td align="right">37</td><td align="right">37</td><td align="right">37</td><td>38</td><td>39</td><td>39</td><td>39</td><td>39</td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right">23</td><td align="right">25</td><td align="right">26</td><td align="right">26</td><td align="right">27</td><td>27</td><td>29</td><td>29</td><td>29</td><td>30</td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right">17.5</td><td align="right">17.5</td><td align="right">18</td><td align="right">19</td><td align="right">19.5</td><td>19.5</td><td>20.5</td><td>21</td><td>21</td><td>22.5</td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right">15</td><td align="right">15.5</td><td align="right">16</td><td align="right">16.5</td><td align="right">17</td><td>17.5</td><td>18</td><td>18</td><td>18.5</td><td>20</td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right">80</td><td align="right">77</td><td align="right">81</td><td align="right">80</td><td align="right">80</td><td>80</td><td>80</td><td>80</td><td>85</td><td>86</td></tr></tbody></table>
            {% elsif tag == 'tabla:7' %}
            {% assign hasTable = true %}
              <p>Thin finn selvage comfort</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>thin finn selvage comfort</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td>32/32</td><td>33/32</td><td>34/32</td><td>34/34</td><td>36/34</td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right">35</td><td align="right">35</td><td align="right">36</td><td align="right">37</td><td align="right">39</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right">43</td><td align="right">44</td><td align="right">47</td><td align="right">47</td><td align="right">49</td><td>51</td><td>51</td><td>53</td><td>54</td><td>57</td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right">23</td><td align="right">23</td><td align="right">23</td><td align="right">24</td><td align="right">25</td><td>25</td><td>25</td><td>25</td><td>26</td><td>27</td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right">35</td><td align="right">36</td><td align="right">36</td><td align="right">37</td><td align="right">38</td><td>38</td><td>38</td><td>38</td><td>40</td><td>40</td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right">22</td><td align="right">25</td><td align="right">25</td><td align="right">26</td><td align="right">27</td><td>28</td><td>28</td><td>29</td><td>30</td><td>31</td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right">17</td><td align="right">17</td><td align="right">17.5</td><td align="right">18.5</td><td align="right">19</td><td>20</td><td>20</td><td>20</td><td>21</td><td>22</td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right">15</td><td align="right">16</td><td align="right">16.5</td><td align="right">16.5</td><td align="right">17.5</td><td>17.5</td><td>18</td><td>18</td><td>19</td><td>20</td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right">78</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">81</td><td>81</td><td>80</td><td>80</td><td>85</td><td>86</td></tr></tbody></table>
            {% elsif tag == 'tabla:8' %}
            {% assign hasTable = true %}
              <p>Steady Eddie II</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>Steady Eddie II</td><td> </td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td>32/32</td><td>33/32</td><td>34/32</td><td>34/34</td><td>36/32</td><td>36/34</td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right"></td><td align="right">38</td><td align="right">39</td><td align="right">40</td><td>41</td><td>43</td><td>44</td><td>44</td><td>46</td><td>47</td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right"></td><td align="right">48</td><td align="right">50</td><td align="right">50</td><td>54</td><td>54</td><td>55</td><td>55</td><td>58</td><td>58</td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right"></td><td align="right">26</td><td align="right">27</td><td align="right">28</td><td>28</td><td>28</td><td>28</td><td>28</td><td>29</td><td>29</td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right"></td><td align="right">37</td><td align="right">39</td><td align="right">39</td><td>39</td><td>40</td><td>40</td><td>40</td><td>41</td><td>42</td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right"></td><td align="right">27</td><td align="right">28.5</td><td align="right">29</td><td>29</td><td>31</td><td>31</td><td>31</td><td>33</td><td>33</td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right"></td><td align="right">21</td><td align="right">21</td><td align="right">21.5</td><td>22.5</td><td>23.5</td><td>24</td><td>24</td><td>24.5</td><td>25</td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right"></td><td align="right">16.5</td><td align="right">17</td><td align="right">17</td><td>18</td><td>19</td><td>18.5</td><td>18.5</td><td>19</td><td>19</td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right"></td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td>80</td><td>80</td><td>80</td><td>85</td><td>81</td><td>86</td></tr></tbody></table>
            {% elsif tag == 'tabla:9' %}
            {% assign hasTable = true %}
              <p>Tight terry Rinse Twill</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>Tight terry Rinse Twill</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td>33/32</td><td>34/32</td><td>34/34</td><td>36/34</td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right">32</td><td align="right">33</td><td align="right">36</td><td align="right">36</td><td align="right">37</td><td align="right">39</td><td>40</td><td>40</td><td>41</td><td>45</td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right">42</td><td align="right">44</td><td align="right">46</td><td align="right">46</td><td align="right">48</td><td align="right">49</td><td>50</td><td>52</td><td>51</td><td>54</td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right">20</td><td align="right">21</td><td align="right">21</td><td align="right">21</td><td align="right">22</td><td align="right">22</td><td>22</td><td>22</td><td>23</td><td>24</td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right">34</td><td align="right">35</td><td align="right">35</td><td align="right">35</td><td align="right">37</td><td align="right">37</td><td>37</td><td>38</td><td>39</td><td>39</td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right">23</td><td align="right">24</td><td align="right">25</td><td align="right">25</td><td align="right">27</td><td align="right">27</td><td>28</td><td>29</td><td>29</td><td>30</td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right">15.5</td><td align="right">16</td><td align="right">16.5</td><td align="right">17</td><td align="right">18</td><td align="right">18.5</td><td>19</td><td>19.5</td><td>20</td><td>20.5</td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right">14</td><td align="right">14</td><td align="right">14.5</td><td align="right">14.5</td><td align="right">15</td><td align="right">16</td><td>16</td><td>16</td><td>16</td><td>16</td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right">78</td><td align="right">80</td><td align="right">80</td><td align="right">79</td><td align="right">79</td><td align="right">79</td><td>80</td><td>78</td><td>82</td><td>86</td></tr></tbody></table>
            {% elsif tag == 'tabla:10' %}
            {% assign hasTable = true %}
              <p>Tight Terry Ever Black</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>Tight Terry Ever Black</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td>33/32</td><td>34/32</td><td>34/34</td><td>36/34</td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right">34</td><td align="right">35</td><td align="right">35</td><td align="right">35</td><td align="right">38</td><td align="right">39</td><td>40</td><td>41</td><td>41</td><td>45</td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right">43</td><td align="right">46</td><td align="right">46</td><td align="right">48</td><td align="right">48</td><td align="right">51</td><td>51</td><td>53</td><td>53</td><td>56</td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right">20</td><td align="right">21</td><td align="right">21</td><td align="right">21</td><td align="right">22</td><td align="right">22</td><td>23</td><td>23</td><td>23</td><td>24</td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right">34</td><td align="right">35</td><td align="right">36</td><td align="right">36</td><td align="right">36</td><td align="right">37</td><td>37</td><td>37</td><td>37</td><td>38</td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right">24</td><td align="right">25</td><td align="right">26</td><td align="right">26</td><td align="right">26</td><td align="right">28</td><td>28</td><td>29</td><td>29</td><td>30</td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right">16</td><td align="right">16.5</td><td align="right">17.5</td><td align="right">17.5</td><td align="right">17.5</td><td align="right">19</td><td>19</td><td>19</td><td>20</td><td>21</td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right">14</td><td align="right">15</td><td align="right">15</td><td align="right">15</td><td align="right">15</td><td align="right">16</td><td>16</td><td>16</td><td>16</td><td>16</td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td align="right">80</td><td>80</td><td>81</td><td>85</td><td>85</td></tr></tbody></table>
            {% elsif tag == 'tabla:11' %}
            {% assign hasTable = true %}
              <p>Night Shade Stretch Selvedge</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Naked and Famous</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>Night Shade Stretch Selvedge</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td align="right">33</td><td> </td><td> </td><td> </td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right"></td><td align="right"></td><td align="right">37</td><td align="right">38</td><td align="right">39</td><td align="right">40</td><td align="right">42</td><td> </td><td> </td><td> </td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right"></td><td align="right"></td><td align="right">45</td><td align="right">46</td><td align="right">46</td><td align="right">49</td><td align="right">50</td><td> </td><td> </td><td> </td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right"></td><td align="right"></td><td align="right">23</td><td align="right">24</td><td align="right">24</td><td align="right">24</td><td align="right">25</td><td> </td><td> </td><td> </td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right"></td><td align="right"></td><td align="right">34</td><td align="right">34</td><td align="right">35</td><td align="right">35</td><td align="right">36</td><td> </td><td> </td><td> </td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right"></td><td align="right"></td><td align="right">26</td><td align="right">26</td><td align="right">26</td><td align="right">27</td><td align="right">28</td><td> </td><td> </td><td> </td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right"></td><td align="right"></td><td align="right">18.5</td><td align="right">19</td><td align="right">19.5</td><td align="right">20</td><td align="right">21</td><td> </td><td> </td><td> </td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right"></td><td align="right"></td><td align="right">15</td><td align="right">16</td><td align="right">17</td><td align="right">17</td><td align="right">17.5</td><td> </td><td> </td><td> </td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right"></td><td align="right"></td><td align="right">86</td><td align="right">86</td><td align="right">86</td><td align="right">86</td><td align="right">87</td><td> </td><td> </td><td> </td></tr></tbody></table>
            {% elsif tag == 'tabla:12' %}
            {% assign hasTable = true %}
              <p>Natural Indigo Selvedge</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Naked and Famous</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>natural indigo Selvedge</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td align="right">33</td><td align="right">34</td><td> </td><td> </td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right"></td><td align="right"></td><td align="right">35</td><td align="right">37</td><td align="right">39</td><td align="right">40</td><td align="right">42</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right"></td><td align="right"></td><td align="right">44</td><td align="right">46</td><td align="right">47</td><td align="right">49</td><td align="right">51</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right"></td><td align="right"></td><td align="right">24</td><td align="right">25</td><td align="right">25</td><td align="right">25</td><td align="right">26</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right"></td><td align="right"></td><td align="right">36</td><td align="right">36</td><td align="right">36</td><td align="right">36</td><td align="right">37</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right"></td><td align="right"></td><td align="right">25</td><td align="right">26</td><td align="right">26</td><td align="right">27</td><td align="right">29</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right"></td><td align="right"></td><td align="right">19</td><td align="right">19</td><td align="right">20</td><td align="right">21</td><td align="right">22</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right"></td><td align="right"></td><td align="right">15</td><td align="right">16</td><td align="right">16</td><td align="right">17</td><td align="right">17</td><td align="right"></td><td> </td><td> </td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right"></td><td align="right"></td><td align="right">88</td><td align="right">88</td><td align="right">88</td><td align="right">88</td><td align="right">89</td><td align="right"></td><td> </td><td> </td></tr></tbody></table>
            {% elsif tag == 'tabla:13' %}
            {% assign hasTable = true %}
              <p>Kasuri Stretch Selvedge</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Naked and Famous</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>kasuri Stretch Selvedge</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td align="right">33</td><td align="right">34</td><td> </td><td> </td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right"></td><td align="right">36</td><td align="right">38</td><td align="right">39</td><td align="right">40</td><td align="right">40</td><td align="right">40</td><td align="right">43</td><td> </td><td> </td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right"></td><td align="right">44</td><td align="right">45</td><td align="right">46</td><td align="right">48</td><td align="right">49</td><td align="right">50</td><td align="right">52</td><td> </td><td> </td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right"></td><td align="right">24</td><td align="right">24</td><td align="right">24</td><td align="right">25</td><td align="right">25</td><td align="right">25</td><td align="right">25</td><td> </td><td> </td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right"></td><td align="right">35</td><td align="right">35</td><td align="right">36</td><td align="right">36</td><td align="right">36</td><td align="right">36</td><td align="right">37</td><td> </td><td> </td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right"></td><td align="right">25</td><td align="right">26</td><td align="right">26</td><td align="right">27</td><td align="right">28</td><td align="right">28.5</td><td align="right">28</td><td> </td><td> </td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right"></td><td align="right">18</td><td align="right">19</td><td align="right">19.5</td><td align="right">20</td><td align="right">20</td><td align="right">21</td><td align="right">21.5</td><td> </td><td> </td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right"></td><td align="right">15</td><td align="right">15.5</td><td align="right">16</td><td align="right">16</td><td align="right">17</td><td align="right">17.5</td><td align="right">18</td><td> </td><td> </td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right"></td><td align="right">87</td><td align="right">87</td><td align="right">87</td><td align="right">87</td><td align="right">87</td><td align="right">87</td><td align="right">87</td><td> </td><td> </td></tr></tbody></table>
            {% elsif tag == 'tabla:14' %}
            {% assign hasTable = true %}
              <p>Indigo duck Selvedge</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Naked and Famous</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>modelo</td><td>Indigo duck Selvedge</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td align="right">33</td><td align="right">34</td><td> </td><td> </td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right"></td><td align="right"></td><td align="right">35</td><td align="right">36</td><td align="right">38</td><td align="right">39</td><td align="right">41</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right"></td><td align="right"></td><td align="right">45</td><td align="right">47</td><td align="right">47</td><td align="right">49</td><td align="right">50</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right"></td><td align="right"></td><td align="right">23</td><td align="right">23</td><td align="right">24</td><td align="right">24</td><td align="right">24</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right"></td><td align="right"></td><td align="right">34</td><td align="right">34</td><td align="right">35</td><td align="right">35</td><td align="right">36</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right"></td><td align="right"></td><td align="right">25</td><td align="right">26</td><td align="right">26</td><td align="right">26</td><td align="right">28</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right"></td><td align="right"></td><td align="right">19</td><td align="right">19</td><td align="right">20</td><td align="right">20</td><td align="right">21</td><td align="right"></td><td> </td><td> </td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right"></td><td align="right"></td><td align="right">15.5</td><td align="right">15.5</td><td align="right">16</td><td align="right">16.5</td><td align="right">17</td><td align="right"></td><td> </td><td> </td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right"></td><td align="right"></td><td align="right">85</td><td align="right">85</td><td align="right">85</td><td align="right">85</td><td align="right">85</td><td align="right"></td><td> </td><td> </td></tr></tbody></table>
            {% elsif tag == 'tabla:15' %}
            {% assign hasTable = true %}
              <p>Joel Zimbabwe Red cast S</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Companion Denim</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th></tr></thead><tbody><tr><td>Modelo</td><td>Joel Zimbabwe Red cast S</td><td> </td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td align="right">33</td><td align="right">34</td><td> </td><td> </td></tr><tr><td>Cintura</td><td>1</td><td> </td><td align="right"></td><td align="right"></td><td align="right">37</td><td align="right">39</td><td align="right">41</td><td align="right">43</td><td align="right">46</td><td align="right">47</td><td> </td><td> </td></tr><tr><td>Cadera</td><td>2</td><td> </td><td align="right"></td><td align="right"></td><td align="right">45</td><td align="right">48</td><td align="right">49</td><td align="right">52</td><td align="right">54</td><td align="right">56</td><td> </td><td> </td></tr><tr><td>Parte enfrente</td><td>3</td><td> </td><td align="right"></td><td align="right"></td><td align="right">24</td><td align="right">24</td><td align="right">24</td><td align="right">25</td><td align="right">25</td><td align="right">25</td><td> </td><td> </td></tr><tr><td>Parte trasera</td><td>4</td><td> </td><td align="right"></td><td align="right"></td><td align="right">34</td><td align="right">35</td><td align="right">36</td><td align="right">38</td><td align="right">38</td><td align="right">39</td><td> </td><td> </td></tr><tr><td>Muslo</td><td>5</td><td> </td><td align="right"></td><td align="right"></td><td align="right">25</td><td align="right">26</td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td> </td><td> </td></tr><tr><td>Rodilla</td><td>6</td><td> </td><td align="right"></td><td align="right"></td><td align="right">19</td><td align="right">19.5</td><td align="right">20</td><td align="right">21</td><td align="right">22</td><td align="right">22</td><td> </td><td> </td></tr><tr><td>Dobladillo</td><td>7</td><td> </td><td align="right"></td><td align="right"></td><td align="right">17</td><td align="right">17</td><td align="right">17</td><td align="right">18</td><td align="right">18</td><td align="right">18.5</td><td> </td><td> </td></tr><tr><td>entre pierna</td><td>8</td><td> </td><td align="right"></td><td align="right"></td><td align="right">80</td><td align="right">75</td><td align="right">75</td><td align="right">76</td><td align="right">75</td><td align="right">80</td><td> </td><td> </td></tr></tbody></table>
            {% elsif tag == 'tabla:16' %}
            {% assign hasTable = true %}
              <p>Joel Zim Red Cast 2</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Companion Denim</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th></tr></thead><tbody><tr><td>Modelo</td><td>Joel Zim Red Cast 2</td><td>in</td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td><td align="right">31</td><td align="right">32</td><td align="right">33</td><td align="right">34</td></tr><tr><td>Cintura</td><td>1</td><td>cms</td><td align="right"></td><td align="right"></td><td align="right">37</td><td align="right">39</td><td align="right">41</td><td align="right">43</td><td align="right">46</td><td align="right">47</td></tr><tr><td>Cadera</td><td>2</td><td>cms</td><td align="right"></td><td align="right"></td><td align="right">45</td><td align="right">48</td><td align="right">49</td><td align="right">52</td><td align="right">54</td><td align="right">56</td></tr><tr><td>Parte enfrente</td><td>3</td><td>cms</td><td align="right"></td><td align="right"></td><td align="right">24</td><td align="right">24</td><td align="right">24</td><td align="right">25</td><td align="right">25</td><td align="right">25</td></tr><tr><td>Parte trasera</td><td>4</td><td>cms</td><td align="right"></td><td align="right"></td><td align="right">34</td><td align="right">35</td><td align="right">36</td><td align="right">38</td><td align="right">38</td><td align="right">39</td></tr><tr><td>Muslo</td><td>5</td><td>cms</td><td align="right"></td><td align="right"></td><td align="right">25</td><td align="right">26</td><td align="right">27</td><td align="right">28</td><td align="right">29</td><td align="right">30</td></tr><tr><td>Rodilla</td><td>6</td><td>cms</td><td align="right"></td><td align="right"></td><td align="right">19</td><td align="right">19.5</td><td align="right">20</td><td align="right">21</td><td align="right">22</td><td align="right">22</td></tr><tr><td>Dobladillo</td><td>7</td><td>cms</td><td align="right"></td><td align="right"></td><td align="right">17</td><td align="right">17</td><td align="right">17</td><td align="right">18</td><td align="right">18</td><td align="right">18.5</td></tr><tr><td>entre pierna</td><td>8</td><td>cms</td><td align="right"></td><td align="right"></td><td align="right">80</td><td align="right">75</td><td align="right">75</td><td align="right">76</td><td align="right">75</td><td align="right">80</td></tr></tbody></table>
            {% elsif tag == 'tabla:17' %}
            {% assign hasTable = true %}
              <p>Tight Terry Summer Dust</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th><th title="Field #14"></th></tr></thead><tbody><tr><td>Modelo</td><td>Tight Terry Summer Dust</td><td>In</td><td>W28L30</td><td>W29L30</td><td>W30L30</td><td>W31L30</td><td>W32L30</td><td>W28L32</td><td>W29L32</td><td>W30L32</td><td>W31L32</td><td>W32L32</td><td>W33L32</td></tr><tr><td>Cintura</td><td>1</td><td>cms</td><td> </td><td>36</td><td>37</td><td>40</td><td>41</td><td>35</td><td>36</td><td>37</td><td>38</td><td>39</td><td>41</td></tr><tr><td>Cadera</td><td>2</td><td>cms</td><td> </td><td>44</td><td>45</td><td>48</td><td>49</td><td>43</td><td>44</td><td>45</td><td>48</td><td>49</td><td>50</td></tr><tr><td>Parte enfrente</td><td>3</td><td>cms</td><td> </td><td>20</td><td>21</td><td>22</td><td>22</td><td>20</td><td>21</td><td>21</td><td>22</td><td>22</td><td>21</td></tr><tr><td>Parte trasera</td><td>4</td><td>cms</td><td> </td><td>34</td><td>35</td><td>36</td><td>37</td><td>34</td><td>35</td><td>35</td><td>36</td><td>36</td><td>37</td></tr><tr><td>Muslo</td><td>5</td><td>cms</td><td> </td><td>25</td><td>25</td><td>26</td><td>28</td><td>24</td><td>24</td><td>25</td><td>26</td><td>27</td><td>27</td></tr><tr><td>Rodilla</td><td>6</td><td>cms</td><td> </td><td>16</td><td>16</td><td>17</td><td>17.5</td><td>15.5</td><td>16</td><td>16</td><td>17</td><td>17</td><td>17.5</td></tr><tr><td>Dobladillo</td><td>7</td><td>cms</td><td> </td><td>14</td><td>14</td><td>14.5</td><td>14</td><td>14</td><td>14</td><td>14</td><td>14</td><td>14</td><td>14</td></tr><tr><td>entre pierna</td><td>8</td><td>cms</td><td> </td><td>73</td><td>72</td><td>76</td><td>76</td><td>77</td><td>79</td><td>78</td><td>79</td><td>78</td><td>77</td></tr></tbody></table>
            {% elsif tag == 'tabla:18' %}
            {% assign hasTable = true %}
              <p>Thin Finn Broken Sage</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th><th title="Field #14"></th></tr></thead><tbody><tr><td>Modelo</td><td>Thin Finn Broken Sage</td><td>In</td><td>W28L30</td><td>W29L30</td><td>W30L30</td><td>W31L30</td><td>W32L30</td><td>W28L32</td><td>W29L32</td><td>W30L32</td><td>W31L32</td><td>W32L32</td><td>W33L32</td></tr><tr><td>Cintura</td><td>1</td><td>cms</td><td> </td><td>36</td><td>38</td><td>39</td><td>40</td><td>36</td><td>37</td><td>37</td><td>40</td><td>40</td><td>42</td></tr><tr><td>Cadera</td><td>2</td><td>cms</td><td> </td><td>44</td><td>46</td><td>46</td><td>47</td><td>42</td><td>46</td><td>47</td><td>50</td><td>50</td><td>52</td></tr><tr><td>Parte enfrente</td><td>3</td><td>cms</td><td> </td><td>24</td><td>24</td><td>24</td><td>24</td><td>23</td><td>23</td><td>23</td><td>24</td><td>24</td><td>24.5</td></tr><tr><td>Parte trasera</td><td>4</td><td>cms</td><td> </td><td>35</td><td>35</td><td>36</td><td>36</td><td>34</td><td>35</td><td>35</td><td>36</td><td>36</td><td>36</td></tr><tr><td>Muslo</td><td>5</td><td>cms</td><td> </td><td>24</td><td>25</td><td>25</td><td>26</td><td>23</td><td>25</td><td>25.5</td><td>27</td><td>27</td><td>27</td></tr><tr><td>Rodilla</td><td>6</td><td>cms</td><td> </td><td>15</td><td>16</td><td>16</td><td>16.5</td><td>15.5</td><td>16</td><td>16.5</td><td>17</td><td>17</td><td>17.5</td></tr><tr><td>Dobladillo</td><td>7</td><td>cms</td><td> </td><td>15</td><td>16</td><td>16</td><td>16.5</td><td>15.5</td><td>16</td><td>16.5</td><td>17</td><td>17</td><td>17.5</td></tr><tr><td>entre pierna</td><td>8</td><td>cms</td><td> </td><td>73</td><td>75</td><td>74</td><td>73</td><td>79</td><td>80</td><td>79</td><td>80</td><td>79</td><td>79</td></tr></tbody></table>
            {% elsif tag == 'tabla:19' %}
            {% assign hasTable = true %}
              <p>Lean Dean Faded Meadow</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie Jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th><th title="Field #14"></th></tr></thead><tbody><tr><td>Modelo</td><td>Lean Dean Faded Meadow</td><td>In</td><td>W28L30</td><td>W29L30</td><td>W30L30</td><td>W31L30</td><td>W32L30</td><td>W28L32</td><td>W29L32</td><td>W30L32</td><td>W31L32</td><td>W32L32</td><td>W33L32</td></tr><tr><td>Cintura</td><td>1</td><td>cms</td><td> </td><td>36</td><td>38</td><td>39</td><td>40</td><td>36</td><td>37</td><td>37</td><td>40</td><td>40</td><td>42</td></tr><tr><td>Cadera</td><td>2</td><td>cms</td><td> </td><td>44</td><td>46</td><td>46</td><td>47</td><td>42</td><td>46</td><td>47</td><td>50</td><td>50</td><td>52</td></tr><tr><td>Parte enfrente</td><td>3</td><td>cms</td><td> </td><td>24</td><td>24</td><td>24</td><td>24</td><td>23</td><td>23</td><td>23</td><td>24</td><td>24</td><td>24.5</td></tr><tr><td>Parte trasera</td><td>4</td><td>cms</td><td> </td><td>35</td><td>35</td><td>36</td><td>36</td><td>34</td><td>35</td><td>35</td><td>36</td><td>36</td><td>36</td></tr><tr><td>Muslo</td><td>5</td><td>cms</td><td> </td><td>24</td><td>25</td><td>25</td><td>26</td><td>23</td><td>25</td><td>25.5</td><td>27</td><td>27</td><td>27</td></tr><tr><td>Rodilla</td><td>6</td><td>cms</td><td> </td><td>15</td><td>16</td><td>16</td><td>16.5</td><td>15.5</td><td>16</td><td>16.5</td><td>17</td><td>17</td><td>17.5</td></tr><tr><td>Dobladillo</td><td>7</td><td>cms</td><td> </td><td>15</td><td>16</td><td>16</td><td>16.5</td><td>15.5</td><td>16</td><td>16.5</td><td>17</td><td>17</td><td>17.5</td></tr><tr><td>entre pierna</td><td>8</td><td>cms</td><td> </td><td>73</td><td>75</td><td>74</td><td>73</td><td>79</td><td>80</td><td>79</td><td>80</td><td>79</td><td>79</td></tr></tbody></table>
            {% elsif tag == 'tabla:20' %}
            {% assign hasTable = true %}
              <p>Thin Finn Worn in Ecru</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Nudie jeans</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th><th title="Field #11"></th><th title="Field #12"></th><th title="Field #13"></th><th title="Field #14"></th></tr></thead><tbody><tr><td>Modelo</td><td>Thin Finn Worn in Ecru</td><td>In</td><td>W28L30</td><td>W29L30</td><td>W30L30</td><td>W31L30</td><td>W32L30</td><td>W28L32</td><td>W29L32</td><td>W30L32</td><td>W31L32</td><td>W32L32</td><td>W33L32</td></tr><tr><td>Cintura</td><td>1</td><td>cms</td><td> </td><td>37</td><td>39</td><td>39</td><td>41</td><td>34</td><td>37</td><td>39</td><td>39</td><td>40</td><td>42</td></tr><tr><td>Cadera</td><td>2</td><td>cms</td><td> </td><td>46</td><td>49</td><td>49</td><td>52</td><td>46</td><td>48</td><td>50</td><td>51</td><td>52</td><td>52</td></tr><tr><td>Parte enfrente</td><td>3</td><td>cms</td><td> </td><td>24</td><td>24</td><td>24</td><td>25</td><td>24</td><td>24</td><td>24</td><td>25</td><td>25</td><td>25</td></tr><tr><td>Parte trasera</td><td>4</td><td>cms</td><td> </td><td>35</td><td>36</td><td>36</td><td>38</td><td>35</td><td>35</td><td>36</td><td>37</td><td>37</td><td>37</td></tr><tr><td>Muslo</td><td>5</td><td>cms</td><td> </td><td>26</td><td>26</td><td>26</td><td>28</td><td>25</td><td>25</td><td>26</td><td>28</td><td>28</td><td>28</td></tr><tr><td>Rodilla</td><td>6</td><td>cms</td><td> </td><td>18.5</td><td>19</td><td>19</td><td>20</td><td>18.5</td><td>19</td><td>20</td><td>20</td><td>21</td><td>21</td></tr><tr><td>Dobladillo</td><td>7</td><td>cms</td><td> </td><td>16.5</td><td>17</td><td>17</td><td>18</td><td>16</td><td>16.5</td><td>17</td><td>17.5</td><td>18</td><td>18</td></tr><tr><td>entre pierna</td><td>8</td><td>cms</td><td> </td><td>77</td><td>77</td><td>77</td><td>77</td><td>83</td><td>81</td><td>80</td><td>83</td><td>83</td><td>83</td></tr></tbody></table>
            {% elsif tag == 'tabla:21' %}
            {% assign hasTable = true %}
              <p>Left Hand Twill Selvedge</p>
              <tbody class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1"></th><th title="Field #2"></th><th title="Field #3">TALLA</th><th title="Field #4">TORAX</th><th title="Field #5">ESPALDA</th><th title="Field #6">LARGO</th><th title="Field #7">MANGA</th><th title="Field #8">ABDOMEN</th></tr></thead><tbody><tr><td> </td><td> </td><td>S</td><td align="right">52</td><td align="right">46</td><td align="right">62</td><td align="right">50</td><td align="right">48</td></tr><tr><td>Marca</td><td>Naked And Famous</td><td>M</td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td></tr><tr><td>Modelo</td><td>Left Hand Twill Selvedge</td><td>L</td><td align="right">57</td><td align="right">50</td><td align="right">65</td><td align="right">64</td><td align="right">55</td></tr></tbody></tbody>
            {% elsif tag == 'tabla:22' %}
            {% assign hasTable = true %}
              <p>Natural Indigo Selvedge</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1"></th><th title="Field #2"></th><th title="Field #3">TALLA</th><th title="Field #4">TORAX</th><th title="Field #5">ESPALDA</th><th title="Field #6">LARGO</th><th title="Field #7">MANGA</th><th title="Field #8">ABDOMEN</th></tr></thead><tbody><tr><td> </td><td> </td><td>S</td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td><td align="right"></td></tr><tr><td>Marca</td><td>Naked And Famous</td><td>M</td><td align="right">54</td><td align="right">47</td><td align="right">64</td><td align="right">63</td><td align="right">51.5</td></tr><tr><td>Modelo</td><td>Natural Indigo Selvedge</td><td>L</td><td align="right">57</td><td align="right">48</td><td align="right">65</td><td align="right">63</td><td align="right">55</td></tr></tbody></table>
            {% elsif tag == 'tabla:23' %}
            {% assign hasTable = true %}
              <p>Blouson Bleu</p>
              <table class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1"></th><th title="Field #2"></th><th title="Field #3">TALLA</th><th title="Field #4">TORAX</th><th title="Field #5">ESPALDA</th><th title="Field #6">LARGO</th><th title="Field #7">MANGA</th><th title="Field #8">ABDOMEN</th></tr></thead><tbody><tr><td> </td><td> </td><td>S</td><td align="right">49</td><td align="right">42</td><td align="right">69</td><td align="right">64</td><td align="right">48.5</td></tr><tr><td>Marca</td><td>Companion Denim</td><td>M</td><td align="right">53</td><td align="right">45</td><td align="right">71</td><td align="right">65</td><td align="right">51.5</td></tr><tr><td>Modelo</td><td>Blouson Bleu</td><td>L</td><td align="right">55</td><td align="right">44</td><td align="right">72</td><td align="right">67</td><td align="right">54</td></tr></tbody></table>
            {% elsif tag == 'tabla:24' %}
            {% assign hasTable = true %}
              <p>Jerry Dark Worn</p>
              <tbody class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1"></th><th title="Field #2"></th><th title="Field #3">TALLA</th><th title="Field #4">TORAX</th><th title="Field #5">ESPALDA</th><th title="Field #6">LARGO</th><th title="Field #7">MANGA</th><th title="Field #8">ABDOMEN</th></tr></thead><tbody><tr><td> </td><td> </td><td>XS</td><td align="right">57</td><td align="right">43</td><td align="right">62</td><td align="right">60</td><td align="right">55</td></tr><tr><td>Marca</td><td>Nudie Jeans</td><td>M</td><td align="right">63</td><td align="right">47</td><td align="right">65</td><td align="right">64</td><td align="right">62</td></tr><tr><td>Modelo</td><td>Jerry Dark Worn</td><td>L</td><td align="right">68</td><td align="right">49</td><td align="right">64</td><td align="right">63</td><td align="right">66</td></tr></tbody></tbody>
            {% elsif tag == 'tabla:25' %}
            {% assign hasTable = true %}
              <p>Jerry Black Midnight</p>
              <tbody class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1"></th><th title="Field #2"></th><th title="Field #3">TALLA</th><th title="Field #4">TORAX</th><th title="Field #5">ESPALDA</th><th title="Field #6">LARGO</th><th title="Field #7">MANGA</th><th title="Field #8">ABDOMEN</th></tr></thead><tbody><tr><td> </td><td> </td><td>XS</td><td align="right">55</td><td align="right">42</td><td align="right">60</td><td align="right">60</td><td align="right">53</td></tr><tr><td>Marca</td><td>Nudie Jeans</td><td>S</td><td align="right">57</td><td align="right">45</td><td align="right">62</td><td align="right">63</td><td align="right">57</td></tr><tr><td>Modelo</td><td>Jerry Black Midnight</td><td>M</td><td align="right">61</td><td align="right">46</td><td align="right">60</td><td align="right">61</td><td align="right">59</td></tr><tr><td> </td><td> </td><td>L</td><td align="right">65</td><td align="right">50</td><td align="right">63.5</td><td align="right">65</td><td align="right">65</td></tr></tbody></tbody>
            {% elsif tag == 'tabla:26' %}
            {% assign hasTable = true %}
              <p>George blue Crush</p>
              <tbody class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1"></th><th title="Field #2"></th><th title="Field #3">TALLA</th><th title="Field #4">TORAX</th><th title="Field #5">ESPALDA</th><th title="Field #6">LARGO</th><th title="Field #7">MANGA</th><th title="Field #8">ABDOMEN</th></tr></thead><tbody><tr><td> </td><td> </td><td>S</td><td align="right">56</td><td align="right">44</td><td align="right">69</td><td align="right">63</td><td align="right">55</td></tr><tr><td>Marca</td><td>Nudie Jeans</td><td>M</td><td align="right">58</td><td align="right">46</td><td align="right">71</td><td align="right">63</td><td align="right">58</td></tr><tr><td>Modelo</td><td>George blue Crush</td><td>L</td><td align="right">61</td><td align="right">48</td><td align="right">74</td><td align="right">66</td><td align="right">61</td></tr></tbody></tbody>
            {% elsif tag == 'tabla:27' %}
            {% assign hasTable = true %}
              <p>Barney Worker Jacket</p>
              <tbody class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1"></th><th title="Field #2">Chamarras/Camisas</th><th title="Field #3">TALLA</th><th title="Field #4">TORAX</th><th title="Field #5">ESPALDA</th><th title="Field #6">LARGO</th><th title="Field #7">MANGA</th><th title="Field #8">ABDOMEN</th></tr></thead><tbody><tr><td> </td><td> </td><td>S</td><td align="right">52</td><td align="right">43</td><td align="right">69</td><td align="right">65</td><td align="right">52</td></tr><tr><td>Marca</td><td>Nudie Jeans </td><td>M</td><td align="right">56</td><td align="right">45</td><td align="right">70</td><td align="right">66</td><td align="right">56</td></tr><tr><td>Modelo</td><td>BARNEY WORKER JACKET</td><td>L</td><td align="right">59</td><td align="right">48</td><td align="right">74</td><td align="right">68</td><td align="right">58</td></tr></tbody></tbody>
            {% elsif tag == 'tabla:28' %}
            {% assign hasTable = true %}
              <p>Cone Denim Type III</p>
              <tbody class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1"></th><th title="Field #2"></th><th title="Field #3">TALLA</th><th title="Field #4">TORAX</th><th title="Field #5">ESPALDA</th><th title="Field #6">LARGO</th><th title="Field #7">MANGA</th><th title="Field #8">ABDOMEN</th></tr></thead><tbody><tr><td> </td><td> </td><td>S</td><td align="right">48</td><td align="right">44</td><td align="right">60</td><td align="right">63</td><td align="right">47</td></tr><tr><td>Marca</td><td>COMPANION</td><td>M</td><td align="right">51</td><td align="right">46</td><td align="right">63</td><td align="right">64</td><td align="right">50</td></tr><tr><td>Modelo</td><td>Cone Denim Type III</td><td>L</td><td align="right">54</td><td align="right">48</td><td align="right">65</td><td align="right">64</td><td align="right">53</td></tr></tbody></tbody>
            {% elsif tag == 'tabla:29' %}
            {% assign hasTable = true %}
              <p>Juno Green Light</p>
              <tbody class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Kings of Indigo</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th></tr></thead><tbody><tr><td>Modelo</td><td>Juno</td><td>In</td><td>W25L30</td><td>W25L32</td><td>W26L30</td><td>W26L32</td><td>W27L32</td><td>W28L32</td><td>W29L32</td></tr><tr><td>Cintura</td><td>1</td><td>cms</td><td>33</td><td>33</td><td>34</td><td>34</td><td>36</td><td>36</td><td>38.5</td></tr><tr><td>Cadera</td><td>2</td><td>cms</td><td>39</td><td>39</td><td>40</td><td>40</td><td>42</td><td>42.5</td><td>43.5</td></tr><tr><td>Parte enfrente</td><td>3</td><td>cms</td><td>20</td><td>21</td><td>21</td><td>21</td><td>21</td><td>22</td><td>22</td></tr><tr><td>Parte trasera</td><td>4</td><td>cms</td><td>30</td><td>30</td><td>31</td><td>31</td><td>32</td><td>32</td><td>32</td></tr><tr><td>Muslo</td><td>5</td><td>cms</td><td>22</td><td>22</td><td>23</td><td>23</td><td>23</td><td>24</td><td>24</td></tr><tr><td>Rodilla</td><td>6</td><td>cms</td><td>15</td><td>15</td><td>15</td><td>15.5</td><td>15.5</td><td>16</td><td>16.5</td></tr><tr><td>Dobladillo</td><td>7</td><td>cms</td><td>12</td><td>12</td><td>12</td><td>12.5</td><td>13</td><td>13</td><td>13.5</td></tr><tr><td>entre pierna</td><td>8</td><td>cms</td><td>76</td><td>82</td><td>75</td><td>80</td><td>81</td><td>82</td><td>80</td></tr></tbody></tbody>
            {% elsif tag == 'tabla:30' %}
            {% assign hasTable = true %}
              <p>Juno Ice Blue Worn</p>
              <tbody class="table table-bordered table-hover table-condensed"><thead><tr><th title="Field #1">marca</th><th title="Field #2">Kings of Indigo</th><th title="Field #3"></th><th title="Field #4"></th><th title="Field #5"></th><th title="Field #6"></th><th title="Field #7"></th><th title="Field #8"></th><th title="Field #9"></th><th title="Field #10"></th></tr></thead><tbody><tr><td>Modelo</td><td>Juno</td><td>In</td><td>W25L32</td><td>W26L32</td><td>W27L32</td><td>W28L32</td><td>W29L32</td><td>W30L32</td><td>W31L32</td></tr><tr><td>Cintura</td><td>1</td><td>cms</td><td>33</td><td>33</td><td>35.5</td><td>36.5</td><td>36</td><td>38</td><td>39</td></tr><tr><td>Cadera</td><td>2</td><td>cms</td><td>37</td><td>38</td><td>40</td><td>41</td><td>42</td><td>43</td><td>45</td></tr><tr><td>Parte enfrente</td><td>3</td><td>cms</td><td>20</td><td>20</td><td>20</td><td>21</td><td>21</td><td>21</td><td>22</td></tr><tr><td>Parte trasera</td><td>4</td><td>cms</td><td>30</td><td>30</td><td>30</td><td>31</td><td>32</td><td>32</td><td>33</td></tr><tr><td>Muslo</td><td>5</td><td>cms</td><td>21</td><td>22</td><td>23</td><td>23</td><td>24</td><td>24</td><td>25</td></tr><tr><td>Rodilla</td><td>6</td><td>cms</td><td>14</td><td>14</td><td>15</td><td>15.5</td><td>16</td><td>16.5</td><td>17</td></tr><tr><td>Dobladillo</td><td>7</td><td>cms</td><td>11.5</td><td>12</td><td>12.5</td><td>13</td><td>13.5</td><td>13.5</td><td>14</td></tr><tr><td>entre pierna</td><td>8</td><td>cms</td><td>76</td><td>73</td><td>78</td><td>77</td><td>79</td><td>77</td><td>77</td></tr></tbody></tbody>
            {% endif %}
          {% endfor %}
          <div class="product__sizes__footer">
            <p>Mira nuestra <a href="/pages/mide-tus-jeans"> guía para medir tus Jeans</a></p>
          </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="product__details grid__item">
      <div class="grid grid--no-gutters product__details-content">
        {% comment %}{% if section.settings.product_form_width == 'large' %}medium-up--three-twelfths medium-up--push-one-fifth{% else %}large-up--two-twelfths large-up--push-two-twelfths medium-up--three-twelfths medium-up--push-one-twelfth{% endif %}{% endcomment %}
        <div class="grid__item">
          {% if section.settings.show_vendor %}
            <p class="product-item__vendor small--text-center">{{ product.vendor }}</p>
          {% endif %}
          <p class="product__type">{{ product.type }}</p>
          <h1 class="h2" itemprop="name">{{ product.title }}</h1>
          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">
          {%- capture 'form_id' -%}AddToCartForm-{{ section.id }}{%- endcapture -%}
          {%- capture 'form_class' -%}
            product__form--add-to-cart{% if section.settings.product_form_width == 'large' %} product__form--full-width{% endif %}
          {%- endcapture -%}
            {% form 'product', product, id:form_id, class:form_class, data-cart-form: '' %}
            {% comment %}
              Select element hidden when JS initializes. Safeguard for JS-disabled.
            {% endcomment %}
            
            <div class="product__meta">
              <div class="product__meta__size">
                {%- if hasTable -%}
                <p id="showSizes"><strong>Ver guía de tallas</strong></p>
                {%- endif -%}
                <select name="id" id="ProductSelect-{{ section.id }}">
                  {% for variant in product.variants %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>
                  {% endfor %}
                </select>
            </div>
  
            {% comment %}
              {% if section.settings.show_quantity_selector %}
                <div class="product__quantity quantity-wrapper">
                  <label for="Quantity" class="product__quantity-label">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity"
                    class="quantity-input"
                    name="quantity" value="1" min="1">
                </div>
              {% endif %}
              {% endcomment %}
  
              {% assign price = current_variant.price | money_without_trailing_zeros %}
              <p class="product__price{% if shop.taxes_included or shop.shipping_policy.body != blank %} product__price--has-policies{% endif %}">
                <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
                <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                {% if product.compare_at_price_max > product.price %}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="product__price--reg">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</span>
                  <span class="product__price--sale">{{ 'products.general.now_price_html' | t: price: price }}</span>
                {% else %}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="product__price--reg js-price">
                    {{ price | money_with_currency }}
                  </span>
                {% endif %}
                {% include 'product-unit-price', variant: current_variant %}
              </p>
            </div>

            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product__policies rte">
                {%- if shop.taxes_included -%}
                  {{ 'products.general.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </div>
            {%- endif -%}

            {% if product.available %}
              <button id="AddToCart-{{ section.id }}" type="submit" name="add" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                <span class="btn__text">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            {% else %}
              <button type="button" class="btn btn--add-to-cart btn--disabled{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" disabled="disabled">
                {{ 'products.product.sold_out' | t }}
              </button>
            {% endif %}
            {% if section.settings.enable_payment_button %}
              {{ form | payment_button }}
            {% endif %}

            <p class="product__shipping">Envío a toda la república mexicana de 2-7 días habiles por $250.00 MXN.</p>

          {% endform %}
        </div>
        {% comment %}{% if section.settings.product_form_width == 'large' %}medium-up--four-twelfths medium-up--push-three-tenths{% else %}large-up--one-half large-up--push-three-twelfths medium-up--six-twelfths medium-up--push-two-twelfths{% endif %}{% endcomment %}
        <div class="grid__item">
          <div class="product-single__errors"></div>
          {%- assign tela = false -%}
          {%- assign fit = false -%}
          {%- assign color = false -%}
          {%- for tag in product.tags -%}
            {% if tag contains 'tela:' %}
              {%- assign tela = tag | remove: 'tela:' -%}
            {% endif %}
            {% if tag contains 'fit:' %}
              {%- assign fit = tag | remove: 'fit:' -%}
            {% endif %}
            {% if tag contains 'color:' %}
              {%- assign color = tag | remove: 'color:' -%}
            {% endif %}
          {%- endfor -%}

          {% if fit %}
          <p><strong>Fit:</strong> {{ fit }}</p>
          {% endif %}
          {% if color %}
          <p><strong>Color:</strong> {{ color }}</p>
          {% endif %}
          {% if tela %}
          <p><strong>Mezclilla:</strong> {{ tela }}</p>
          {% endif %}

          <hr>

          <div class="product-single__description rte" itemprop="description">
            {{ product.description }}
          </div>
          {% comment %}
          {% if section.settings.social_sharing_products %}
            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          {% endif %}
          {% endcomment %}
        </div>
      </div>

    </div>

    {% comment %}
      Show second product photo after description on mobile if
      image setting style is 'portrait' and there is a duplicate_image to show
    {% endcomment %}
    {% if is_portrait_image and product.images.size > 1 and duplicate_image %}
      <div class="product__photo grid__item medium-up--hide {{ grid_item_width }}">
        <noscript>
          <img src="{{ duplicate_image | img_url: '2048x2048' }}" alt="{{ duplicate_image.alt | escape }}">
        </noscript>
        {% assign img_url = duplicate_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <div class="product__photo--single product-item__image-wrapper">
          <img class="lazyload"
            src="{{ duplicate_image | img_url: '300x' }}"
            data-src="{{ img_url }}"
            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
            data-aspectratio="{{ duplicate_image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ duplicate_image.alt | escape }}">
        </div>
      </div>
    {% endif %}

    {% comment %}
      Show other product images below product info if there's any left to show
    {% endcomment %}
    {% if index < product.images.size %}
      {% for image in product.images offset:index_offset %}
        {% unless image == first_image %}
          {% unless section.settings.skip_first_product_image and image == product.featured_image %}
            <div class="product__photo grid__item {{ grid_item_width }}">
              <noscript>
                <img src="{{ image | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}">
              </noscript>
              {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <div class="product__photo--single product-item__image-wrapper">
                <img class="lazyload"
                  src="{{ image | img_url: '300x' }}"
                  data-src="{{ img_url }}"
                  data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                  data-aspectratio="{{ image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ image.alt | escape }}">
              </div>
            </div>
          {% endunless %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}



{% schema %}
{
  "name": {
    "da": "Produkt",
    "de": "Produkt",
    "en": "Product",
    "es": "Producto",
    "fi": "Tuote",
    "fr": "Produit",
    "hi": "उत्पाद",
    "it": "Prodotto",
    "ja": "商品",
    "ko": "제품",
    "ms": "Produk",
    "nb": "Produkt",
    "nl": "Product",
    "pt-BR": "Produto",
    "pt-PT": "Produto",
    "sv": "Produkt",
    "th": "สินค้า",
    "zh-CN": "产品",
    "zh-TW": "產品"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "skip_first_product_image",
      "label": {
        "da": "Spring over første produktbillede",
        "de": "Das erste Produktbild überspringen",
        "en": "Skip first product image",
        "es": "Omitir la primera imagen del producto",
        "fi": "Ohita ensimmäinen tuotekuva",
        "fr": "Sauter la première image du produit",
        "hi": "पहली उत्पाद इमेज छोडें",
        "it": "Salta prima immagine prodotto",
        "ja": "最初の商品画像をスキップする",
        "ko": "첫 번째 제품 이미지 건너 뛰기",
        "ms": "Langkau imej produk pertama",
        "nb": "Hopp over første produktbilde",
        "nl": "Sla de eerste productafbeelding over",
        "pt-BR": "Ignorar a primeira imagem do produto",
        "pt-PT": "Ignorar a primeira imagem de produto",
        "sv": "Hoppa över första produktbilden",
        "th": "ข้ามรูปภาพสินค้าแรก",
        "zh-CN": "跳过第一张产品图片",
        "zh-TW": "略過第一張產品圖片"
      },
      "info": {
        "da": "Sørg for, at det første billede for hvert produkt kun vises på din butiks kollektionsside. [Få mere at vide](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "de": "Lassen Sie das erste Bild für jedes Produkt nur auf der Kategorieseite Ihres Shops anzeigen. [Mehr Informationen](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "en": "Make the first image for each product only appear on the collections page of your store. [Learn more](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "es": "Haz que la primera imagen de cada producto aparezca solo en la página de colecciones de tu tienda. [Más información](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "fi": "Määritä kunkin tuotteen ensimmäinen kuva näkymään vain kaupan kokoelmasivulla. [Lue lisää](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "fr": "Faites en sorte que la première image de chaque produit apparaisse uniquement à la page des collections de votre boutique. [En savoir plus](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "hi": "प्रत्येक उत्पाद के लिए पहली छवि केवल अपने स्टोर के कलेक्शन्स पेज पर प्रदर्शित करें. [अधिक जानें](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "it": "Fai apparire la prima immagine di ogni prodotto solo sulla pagina delle collezioni del tuo negozio. [Maggiori informazioni](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "ja": "各商品の最初のイメージをストアのコレクションページにのみ表示するようにします。[詳細情報](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option)。",
        "ko": "각 제품의 첫 번째 이미지를 스토어의 컬렉션 페이지에만 표시하십시오. [자세히 알아보기](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option)",
        "ms": "Buat imej pertama untuk setiap produk hanya muncul di halaman koleksi kedai anda. [Ketahui lebih lanjut](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "nb": "Gjør at det første bildet for hvert produkt kun vises på samlingssiden i butikken din. [Finn ut mer](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "nl": "Laat de eerste afbeelding voor elk product alleen op de pagina collecties van uw winkel zien. [Meer informatie](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "pt-BR": "Faça com que a primeira imagem de cada produto apareça apenas na página de coleções de sua loja. [Saiba mais](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "pt-PT": "A primeira imagem de cada produto apenas irá aparecer na página de coleções da sua loja. [Saiba mais](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "sv": "Gör så att den första bilden för varje produkt endast visas på din butiks produktseriesidor. [Läs mer](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option).",
        "th": "ทำให้รูปภาพแรกสำหรับสินค้าแต่ละรายการปรากฏเฉพาะในหน้าคอลเลกชันของร้านค้าของคุณ [เรียนรู้เพิ่มเติม](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option)",
        "zh-CN": "让每个产品的第一张图片仅在商店的产品系列页面上显示。[了解详细信息](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option)。",
        "zh-TW": "讓每個產品的第一張圖片僅在您商店的商品系列頁面上顯示。[深入瞭解](https://docs.shopify.com/manual/more/official-shopify-themes/boundless#skip-first-product-image-option)。"
      }
    },
    {
      "type": "select",
      "id": "product_image_type",
      "label": {
        "da": "Billedstil",
        "de": "Bildstil",
        "en": "Image style",
        "es": "Estilo de imagen",
        "fi": "Kuvan tyyli",
        "fr": "Style d'image",
        "hi": "इमेज स्टाइल",
        "it": "Stile immagine",
        "ja": "画像スタイル",
        "ko": "이미지 스타일",
        "ms": "Gaya imej",
        "nb": "Bildestil",
        "nl": "Afbeeldingsstijl",
        "pt-BR": "Estilo da imagem",
        "pt-PT": "Estilo da imagem",
        "sv": "Bildstil",
        "th": "รูปแบบรูปภาพ",
        "zh-CN": "图片样式",
        "zh-TW": "圖片樣式"
      },
      "options": [
        {
          "value": "portrait",
          "label": {
            "da": "Høj/firkantet",
            "de": "Hoch/Quadrat",
            "en": "Tall/square",
            "es": "Alta/cuadrada",
            "fi": "Korkea/neliö",
            "fr": "Grand/carré",
            "hi": "लंबा/वर्ग",
            "it": "Verticale/quadrata",
            "ja": "縦長/正方形",
            "ko": "높이/정사각형",
            "ms": "Tinggi/segi empat sama",
            "nb": "Høyt/kvadratisk",
            "nl": "Hoog/vierkant",
            "pt-BR": "Alto/quadrado",
            "pt-PT": "Alto/quadrado",
            "sv": "Hög/kvadratisk",
            "th": "สูง/สี่เหลี่ยมจัตุรัส",
            "zh-CN": "高/正方形",
            "zh-TW": "高/正方形"
          }
        },
        {
          "value": "landscape",
          "label": {
            "da": "Bred",
            "de": "Breit",
            "en": "Wide",
            "es": "Ancho",
            "fi": "Leveä",
            "fr": "Large",
            "hi": "चौड़ा",
            "it": "Orizzontale",
            "ja": "横長",
            "ko": "넓이",
            "ms": "Lebar",
            "nb": "Bred",
            "nl": "Breed",
            "pt-BR": "Grande",
            "pt-PT": "Largo",
            "sv": "Bred",
            "th": "กว้าง",
            "zh-CN": "宽",
            "zh-TW": "寬"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "da": "Vis leverandør",
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fi": "Näytä myyjä",
        "fr": "Afficher le distributeur",
        "hi": "विक्रेता दिखाएं",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "ko": "공급업체 표시",
        "ms": "Tunjukkan vendor",
        "nb": "Vis leverandør",
        "nl": "Leverancier weergeven",
        "pt-BR": "Exibir fornecedor",
        "pt-PT": "Mostrar fornecedor",
        "sv": "Visa säljare",
        "th": "แสดงผู้ขาย",
        "zh-CN": "显示厂商",
        "zh-TW": "顯示廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "hi": "मात्रा चयनकर्ता दिखाएं",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "ms": "Tunjukkan pemilih kuantiti",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pt-BR": "Exiba um seletor de quantidade",
        "pt-PT": "Mostrar um seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกจำนวน",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "social_sharing_products",
      "label": {
        "da": "Aktivér produktdeling",
        "de": "Teilen von Produkten aktivieren",
        "en": "Enable product sharing",
        "es": "Habilitar compartir productos",
        "fi": "Ota tuotejako käyttöön",
        "fr": "Activer le partage de produits",
        "hi": "उत्पाद साझाकरण सक्षम करें",
        "it": "Permetti condivisione del prodotto",
        "ja": "商品の共有を有効にする",
        "ko": "제품 공유 활성화",
        "ms": "Dayakan perkongsian produk",
        "nb": "Aktiver produktdeling",
        "nl": "Schakel het delen van producten in",
        "pt-BR": "Habilite o compartilhamento de produtos",
        "pt-PT": "Ativar a partilha de produtos",
        "sv": "Aktivera produktdelning",
        "th": "เปิดใช้การแชร์สินค้า",
        "zh-CN": "启用产品共享",
        "zh-TW": "啟用產品分享"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de passage à la caisse dynamique",
        "hi": "डायनेमिक चेकआउट बटन दिखाएं",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "ダイナミックチェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "ms": "Tunjukkan butang daftar keluar dinamik",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische checkout knop weergeven",
        "pt-BR": "Exibir botão dinâmico de finalização da compra",
        "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in Ihrem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "hi": "प्रत्येक ग्राहक आपके स्टोर पर उपलब्ध अपनी पसंदीदा भुगतान की विधि देखेंगे जैसे PayPal या Apple Pay. [अधिक जानें](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳細情報](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ms": "Setiap pelanggan akan melihat kaedah pembayaran keutamaan mereka dari yang tersedia di kedai anda, seperti PayPal atau Apple Pay. [Ketahui lebih lanjut](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá sua forma de pagamento preferida dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [เรียนรู้เพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "select",
      "id": "product_form_width",
      "label": {
        "da": "Bredde af produktformular",
        "de": "Breite Produktformular",
        "en": "Product form width",
        "es": "Ancho del formulario del producto",
        "fi": "Tuotelomakkeen leveys",
        "fr": "Largeur du formulaire de produit",
        "hi": "उत्पाद फ़ॉर्म की चौड़ाई",
        "it": "Larghezza scheda prodotto",
        "ja": "商品のフォームの幅",
        "ko": "제품 양식 폭",
        "ms": "Lebar borang produk",
        "nb": "Bredde på produktskjema",
        "nl": "Breedte productformulier",
        "pt-BR": "Largura do formulário do produto",
        "pt-PT": "Largura do formulário do produto",
        "sv": "Produktformsbredd",
        "th": "ความกว้างของแบบฟอร์มสินค้า",
        "zh-CN": "产品表单宽度",
        "zh-TW": "產品表單寬度"
      },
      "default": "small",
      "options": [
        {
          "value": "small",
          "label": {
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Pieni",
            "fr": "Petite",
            "hi": "छोटा",
            "it": "Small",
            "ja": "小",
            "ko": "스몰",
            "ms": "Kecil",
            "nb": "Liten",
            "nl": "Klein",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "zh-CN": "小",
            "zh-TW": "小型"
          }
        },
        {
          "value": "large",
          "label": {
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "ms": "Besar",
            "nb": "Stor",
            "nl": "Groot",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "zh-CN": "大",
            "zh-TW": "大型"
          }
        }
      ]
    }
  ]
}
{% endschema %}
